body, html{
    height: 100%;
    opacity: 0.85;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

input{
    width: 300px;
    font-weight: 300;
    font-size: 20pt;
    color: whitesmoke;
    background-color: transparent;
    border: 0;
    border-bottom: solid white 2px;
    transition-property: width;
    transition-duration: 0.5s;
}

input:focus{
    outline: none;
    width: 500px;
}

.header{
    display: flex;
}

.header div{
    flex: 1;
}
.menu table{
    width: 100%;
}


h1{
    font-weight: 600;
}

h4{
    font-weight: 300;
    font-size: 18pt;
}

.bmList{
    height:200px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;   
}

.blockList{
    flex: 1;
}

.blockList ul{
    border-left: solid whitesmoke 1px;
    margin: 0 auto;
    padding: 0 0px 0 15px;
    display:inline-block;
    max-height: 35px;
    overflow-y: hidden;
    transition: 0.5s;
}

.blockList ul li:first-child{
    text-decoration: none;
    font-weight: 600;
}

.blockList ul:hover{
    max-height: 200px;
}

a{
    color: white;
}

.search{
    position: fixed;
    top: 50%;
    width:100%;
}

#degrees{
    font-weight: 600;
    font-size: 25pt;
    margin: 0;
}

#location{
    font-size: 15pt;
}

#text{
    margin: 0;
    font-size: 12pt;
}

#date{
    font-size: 15pt;
}

#clock{
    font-size: 50pt;
    margin:0;
}