@font-face {
    font-family: type;
    src: url('NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: type;
    src: url('NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
}


.main{
	border: solid rgba(255,255,255, 0.25) 2px;
	display: inline-block;
	position: relative;
	box-shadow: 0 0 0 5px rgba(30,30,30,0.5);
	margin: auto;
	height: 400px;
}

.background{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
	background-color: inherit;
	opacity: 0.5;
	z-index: -1;
}

body{
	opacity: 0;
	background-color: black;
	font-family: type;
	font-size: 10pt;
}

.main img{
	height: 400px;
	width:349px;
	float:right;
}

.menu{
	padding: 25px;
	min-width: 300px;
	display: inline-block;
}

ul{
	display: inline-block;
	padding: 0;
	list-style-type: none;
	margin: 0 20px;
}

.bookmarks ul:first-child{
	margin-left: 0;
}

.bookmarks ul:last-child{
	margin-right: 0;
}

ul li:first-child{
	color: white;
	opacity: 0.5;
	font-weight: bold;
}

ul li{
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
}

ul li a{
	display: block;
	width: 100%;
	color: #F2F1F5;
	text-decoration: none;
	padding: 5px 5px;
	border-left: solid 2px transparent;
	transition: 0.2s;
}

 ul li:hover a{
	border-color: #F2F1F5;
	background-color: rgba(30,30,30, 0.25);
}

h2{
	color: #F2F1F5;
	opacity: 0.5;
}

.header{
	height: 75px;
}

#clock{
	display: inline-block;
	margin: 0;
	float:right;
	color: white;
	opacity: 0.5;
}

#welcome{
	float: left;
	display: inline-block;
	color: white;
	opacity: 0.5;
	margin: 0;
}


input{
	background-color: transparent;
	border: 0;
	border-bottom: solid transparent 2px;
	font-size: 10pt;
	color: #F2F1F5;
	font-family: inherit;
	width: 30%;
	transition: 0.2s;
}

input:focus{
	outline: none;
	width: 60%;
}

input::-webkit-input-placeholder{
	color: white;
	opacity: 0.5;
}

.newsblock{
	position: absolute;
	bottom: 20px;
}

#newsStatus{
	color: white;
	opacity: 0.5;
	margin-bottom: 5px;
}

#newsStatus a{
	color:white;
	text-decoration: none;
}

#newsStatus a:hover{
	text-decoration: underline;
}

marquee{
	background-color: rgba(30,30,30, 0.25);
	box-shadow: 0 0 0 2px rgba(255,255,255, 0.25);
	border-top: solid transparent 2px;
	border-bottom: solid transparent 2px;
}

marquee a{
	color: #F2F1F5;
	margin-right: 20px;
	text-decoration: none;
}

marquee a:hover{
	text-decoration: underline;
}

.footer{
	margin-top: 25px;
	height: 95px;
}

textarea{
	background-color: rgba(30,30,30,0.25);
	border: inset transparent 2px;
	border-radius: 20px;
	width: 100%;
	resize: none; 
	height: 90px;
	max-height: 90px;
	padding: 10px;
	color: #F2F1F5;
	font-family: type;
	font-size: 10pt;
	transition: border-color 0.2s;
}

textarea:focus{
	border-color: rgba(255,255,255, 0.25);
	outline: none;
}